.contacts, .contacts__list{
@extend %flex;
}
.contacts{
    flex-direction: column;
    &__heading{
        margin: 0 0 25px;
    }
    &__list{
        flex-wrap: wrap;
    }
    &__item{
        margin: 15px;
    }
}