.header,
.contacts,
.main,
.notFound,
.parallax,
.bg-pic-anim,
.pack-of-loaders,
.broken-photo{
    text-align: center;
    color: $main-text-color;
    &__heading {
        @include text-shadow(2px, 2px, 15px, $basic-shadow-color);
        font-size: $heading-size;
    }

}

.header,
.main,
.notFound {
    &__text {
        margin: 15px 0;
        font-size: $heading-size * 0.7;
    }
}


.header {
    min-height: 50px;
    display: grid;
}