@mixin text-shadow($x,$y,$z,$color) {
    text-shadow: $x $y $z $color;
} 
@mixin box-shadow($x,$y,$z,$color) {
    box-shadow: $x $y $z $color;
}
%flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

%clip{
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: 700;
}
%grow{
    text-align: center;
    flex-grow: 1;
    font-weight: 700;
}