.text-style {
    flex-grow: 1;
    text-align: center;
    &__animation,
    &__text {
        @extend %clip;
    }

    &__animation {
        font-size: 50px;
        background-image: linear-gradient(to right, #553c9a, #ee4b2b, #00c2cb, #ff7f50, #553c9a);

        background-size: 200%;
        background-position: -200%;
        animation: animated-gradient 2s infinite alternate-reverse;
    }

    &__text {
        font-size: 40px;
        &:nth-child(1){
            background-image:linear-gradient(45deg, #553c9a, #ee4b2b);
            //linear-gradient(to bottom left, #553c9a, #ee4b2b);
        }
        &:nth-child(2){
            background-image:radial-gradient(circle, #553c9a, #ee4b2b);
            //background-image:radial-gradient(ellipse, #553c9a, #ee4b2b);
        }
        &:nth-child(3){
            background-image: conic-gradient(#553c9a 30%, #ee4b2b 40%, #ee4b2b 70%, #00c2cb 80%, #553c9a);
            //background-image: conic-gradient(#553c9a 0%, #553c9a 33%, #ee4b2b 33%, #ee4b2b 66%, #00c2cb 66%, #00c2cb 99%);
        }
        &:nth-child(4){
            background-image:repeating-linear-gradient(to right, #553c9a, #ee4b2b 10%, #553c9a 20%);
            // background-image:repeating-radial-gradient(circle closest-corner at 100px 100px, #553c9a, #ee4b2b 10%, #553c9a 20%);
            // background-image:repeating-conic-gradient(#553c9a 0%, #553c9a 10%, #ee4b2b 10%, #ee4b2b 20%, 
            // #00c2cb 20%, #00c2cb 30%);
        }
        &:nth-child(5){
            background-image:repeating-radial-gradient(circle closest-corner at 100px 100px, #9a523c, #95d393 10%, #8c9a3c 20%);
        }
        &:nth-child(6){
            color: $main-text-color;
            text-shadow: 2px 2px 4px #f8d86210 ,
                        3px 4px 4px #f8d86215 ,
                        4px 6px 4px #f8d86220 ,
                        5px 8px 4px #f8d86225 ;
        }
        &:nth-child(7){
            color: #fdfdfe;
            text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
              0px 0px 20px #b393d3;
        }
        &:nth-child(8){
            color: $main-text-color;
            text-shadow: 1px 1px 1px #957dad,
             1px 2px 1px  $main-text-color,
             1px 3px 1px  $main-text-color,
             1px 4px 1px  $main-text-color,
             1px 5px 1px  $main-text-color,
             1px 6px 1px  $main-text-color,
             1px 10px 5px #f8d86250,
             1px 15px 10px #f8d86240,
             1px 20px 30px #f8d86230,
             1px 25px 50px #f8d86220;
        }
    }
}

@keyframes animated-gradient {
    to {
        background-position: 200%;
    }
}