$display-size:1200px;
$heading-size:24px;
$basic-shadow-color:#FFFFFF;
$main-bg-color:#445d5b;
$main-text-color:#f8d862;
$project-item-size:280px;
//$project-bg-color:#7f8291;
$project-bg-color:#585492;