$display-size:1200px;
$heading-size:24px;
$basic-shadow-color:#FFFFFF;
$main-bg-color:#445d5b;
$main-text-color:#f8d862;
$main-text-color-1:#f8d86220;
$main-text-color-2:#f8d86240;
$main-text-color-transparent:#f8d86280;
$project-item-size:280px;
$project-bg-color:#585492;