@import "./vars";
@import "./mixins";
@import "./header";
@import './main';
@import "./project";
@import "./contacts";
@import "./404";
@import "./parallax";
@import "./bg-pic-anim";
@import "./text-style";
@import "./type-writer";
@import "./pack-of-loaders";
@import "./broken-photo";

.app {
    display: grid;
    min-height: 100vh;
    background-color: $main-bg-color;
    grid-template: 1fr/1fr minmax(auto, $display-size) 1fr;

    &__wrapper {
        grid-column: 2/3;
        padding: 10px;
        @extend %flex;
        flex-direction: column;
    }

    &__loading {
        width: 200px;
        height: 200px;
        background: url("../assets/Gear.svg");
    }
}